{{!-- Celebrate Card: round image and title --}}
<article class="c-celebrateCard">
  <a href="{{url}}" class="c-celebrateCard__media" aria-label="{{default name title}}">
    {{#if image.url}}
      <img src="{{image.url}}" alt="{{default name title}}" class="c-celebrateCard__image" />
    {{else if image.data}}
      <img src="{{image.data}}" alt="{{default name title}}" class="c-celebrateCard__image" />
    {{else if image.source}}
      <img src="{{image.source}}" alt="{{default name title}}" class="c-celebrateCard__image" />
    {{else if image}}
      <img src="{{cdn image}}" alt="{{default name title}}" class="c-celebrateCard__image" />
    {{/if}}
  </a>
  <div class="c-celebrateCard__body">
    <h3 class="c-celebrateCard__title">{{default name title}}</h3>
  </div>
</article>
