{{!-- Marketing Banner component partial --}}
{{!-- 
  Usage:
    {{> components/page/marketing-banner 
        image=theme_settings.marketing_banner_image
        heading=theme_settings.marketing_banner_heading
        subcopy=theme_settings.marketing_banner_subcopy
        ctaText=theme_settings.marketing_banner_cta_text
        ctaUrl=theme_settings.marketing_banner_cta_url
    }}
--}}
{{#or heading subcopy ctaText image}}
<section class="c-marketingBanner">
    <div class="c-marketingBanner__media">
        {{#if image}}
            {{!-- Support Page Builder image objects --}}
            {{#if image.url}}
                <img 
                    src="{{image.url}}" 
                    alt="" 
                    class="c-marketingBanner__image lazyload"
                    loading="lazy"
                    data-sizes="auto"
                />
            {{else if image.data}}
                <img 
                    src="{{image.data}}" 
                    alt="" 
                    class="c-marketingBanner__image lazyload"
                    loading="lazy"
                    data-sizes="auto"
                />
            {{else if image.source}}
                <img 
                    src="{{image.source}}" 
                    alt="" 
                    class="c-marketingBanner__image lazyload"
                    loading="lazy"
                    data-sizes="auto"
                />
            {{else}}
                {{!-- Support direct string URL (from theme_settings) --}}
                <img 
                    src="{{cdn image}}" 
                    alt="" 
                    class="c-marketingBanner__image lazyload"
                    loading="lazy"
                    data-sizes="auto"
                />
            {{/if}}
        {{/if}}
    </div>
    <div class="c-marketingBanner__content">
        {{#if heading}}
            <h2 class="c-marketingBanner__heading">{{heading}}</h2>
        {{/if}}
        {{#if subcopy}}
            <p class="c-marketingBanner__subcopy">{{subcopy}}</p>
        {{/if}}
        {{#if ctaText}}
            {{#if ctaUrl}}
                {{!-- ctaUrl comes from trusted theme_settings configured by store admin --}}
                <a href="{{ctaUrl}}" class="c-marketingBanner__cta button button--primary">
                    {{ctaText}}
                </a>
            {{/if}}
        {{/if}}
    </div>
</section>
{{/or}}
