{{!-- Marketing Banner component partial --}}
{{!-- 
  Usage:
    {{> components/page/marketing-banner 
        image=theme_settings.marketing_banner_image
        heading=theme_settings.marketing_banner_heading
        subcopy=theme_settings.marketing_banner_subcopy
        ctaText=theme_settings.marketing_banner_cta_text
        ctaUrl=theme_settings.marketing_banner_cta_url
    }}
--}}
{{#or heading subcopy ctaText image}}
<section class="c-marketingBanner">
    <div class="c-marketingBanner__media">
        {{#if image}}
            {{!-- Support Stencil image objects with responsive srcset --}}
            {{#if image.data}}
                {{> components/common/responsive-img
                    image=image
                    class="c-marketingBanner__image"
                    fallback_size="1200w"
                    lazyload="lazyload+lqip"
                    lqip_size="80w"
                    otherAttributes='decoding="async" sizes="100vw"'
                }}
            {{else}}
                {{!-- Static image from theme_settings or Page Builder --}}
                <img 
                    src="{{#if image.url}}{{image.url}}{{else if image.source}}{{image.source}}{{else}}{{cdn image}}{{/if}}" 
                    srcset="{{#if image.url}}{{image.url}}{{else if image.source}}{{image.source}}{{else}}{{cdn image}}{{/if}} 800w,
                           {{#if image.url}}{{image.url}}{{else if image.source}}{{image.source}}{{else}}{{cdn image}}{{/if}} 1200w"
                    sizes="100vw"
                    alt="{{#if heading}}{{heading}}{{/if}}" 
                    class="c-marketingBanner__image lazyload"
                    loading="lazy"
                    decoding="async"
                />
            {{/if}}
        {{/if}}
    </div>
    <div class="c-marketingBanner__content">
        {{#if heading}}
            <h2 class="c-marketingBanner__heading">{{heading}}</h2>
        {{/if}}
        {{#if subcopy}}
            <p class="c-marketingBanner__subcopy">{{subcopy}}</p>
        {{/if}}
        {{#if ctaText}}
            {{#if ctaUrl}}
                {{!-- ctaUrl comes from trusted theme_settings configured by store admin --}}
                <a href="{{ctaUrl}}" class="c-marketingBanner__cta">
                    {{ctaText}}
                </a>
            {{/if}}
        {{/if}}
    </div>
</section>
{{/or}}
