{{!--
    Announcement Bar Component
    
    Renders a promotional announcement bar at the top of the page.
    Uses Theme Editor-backed tokens for background color and typography.
    Height: 56px (Figma spec: $header-height-bar)
    
    Shows on all pages - uses banner content if available, otherwise shows default message.
--}}
<div class="c-announcementBar" data-banner-location="top">
    <div class="c-announcementBar__container">
        {{#if banners.top}}
            {{#each (limit banners.top_metadata 1)}}
            <div class="c-announcementBar__content" 
                 data-event-type="promotion" 
                 data-entity-id="{{this.id}}" 
                 data-name="{{this.banner-name}}" 
                 data-position="{{this.location}}" 
                 data-banner-id="{{this.banner-name}}">
                <div data-event-type="promotion-click">
                    <svg class="c-announcementBar__icon" aria-hidden="true"><use href="{{cdn 'assets/img/icon-sprite.svg'}}#icon-Truck"></use></svg>
                    {{{this.content}}}
                </div>
            </div>
            {{/each}}
        {{else}}
            {{!-- Default announcement when no banner is configured --}}
            <div class="c-announcementBar__content">
                <div>
                    <svg class="c-announcementBar__icon" aria-hidden="true"><use href="{{cdn 'assets/img/icon-sprite.svg'}}#icon-Truck"></use></svg>
                    <span>Free delivery on orders over €50 | Same day dispatch on orders before 2pm</span>
                </div>
            </div>
        {{/if}}
    </div>
</div>
