<div class="contact-bar">
    {{#if settings.phone_number}}
        <a class="contact-bar-link contact-bar-link--phone" href="tel:{{settings.phone_number}}">
            <svg class="icon" aria-hidden="true" focusable="false"><use href="{{cdn 'assets/img/icon-sprite.svg'}}#icon-phone"></use></svg>
            {{settings.phone_number}}
        </a>
    {{else}}
        <span class="contact-bar-link contact-bar-link--phone">
            <svg class="icon" aria-hidden="true" focusable="false"><use href="{{cdn 'assets/img/icon-sprite.svg'}}#icon-phone"></use></svg>
             051 334 602
        </span>
    {{/if}}

    {{#if settings.store_email}}
        <a class="contact-bar-link contact-bar-link--email" href="mailto:{{settings.store_email}}">
            <svg class="icon" aria-hidden="true" focusable="false"><use href="{{cdn 'assets/img/icon-sprite.svg'}}#icon-envelope"></use></svg>
            {{settings.store_email}}
        </a>
    {{else}}
        <span class="contact-bar-link contact-bar-link--email">
            <svg class="icon" aria-hidden="true" focusable="false"><use href="{{cdn 'assets/img/icon-sprite.svg'}}#icon-envelope"></use></svg>
            hello@partyworld.ie
        </span>
    {{/if}}
</div>
