{{#if currency_selector.currencies.length '>' 1}}
<div data-currency-selector class="form--hiddenLabels">
    {{#> components/common/forms/select
        id=(concat 'currencySelector' (default suffix ''))
        label=(lang 'common.currency' code=currency_selector.active_currency_code)
        name="currencySelector"
    }}
        {{#each currency_selector.currencies}}
        <option
            value="{{{switch_url}}}"
            data-currency-code="{{{code}}}"
            {{#if cart_currency_switch_url.length '>' 0}}
            data-cart-currency-switch-url="{{{cart_currency_switch_url}}}"
            {{/if}}
            data-warning="{{lang 'common.currency_switch_promotion'}}"
            {{#if is_active}}selected{{/if}}
        >
            {{code}}
        </option>
        {{/each}}
    {{/components/common/forms/select}}
</div>
{{else}}
<div class="form--hiddenLabels" aria-hidden="true">
    <div class="form-field">
        <label class="form-label" for="currencySelectorMock{{default suffix ''}}">{{lang 'common.currency'}}</label>
        <select id="currencySelectorMock{{default suffix ''}}" class="form-select" disabled>
            <option selected>£</option>
        </select>
    </div>
</div>
{{/if}}
