<ul class="footer-payment-icons" aria-label="{{lang 'account.payment_methods.payment_icons_label'}}">
        {{#or theme_settings.show_accept_amex settings.show_accept_amex show_accept_amex}}
        <li>
            <span class="footer-payment-icon" role="img" aria-label="American Express">
                <svg>
                    <use href="#icon-logo-american-express" xlink:href="#icon-logo-american-express"></use>
                </svg>
            </span>
        </li>
        {{/or}}
        {{#or theme_settings.show_accept_discover settings.show_accept_discover show_accept_discover}}
        <li>
            <span class="footer-payment-icon" role="img" aria-label="Discover">
                <svg>
                    <use href="#icon-logo-discover" xlink:href="#icon-logo-discover"></use>
                </svg>
            </span>
        </li>
        {{/or}}
        {{#or theme_settings.show_accept_mastercard settings.show_accept_mastercard show_accept_mastercard}}
        <li>
            <span class="footer-payment-icon" role="img" aria-label="Mastercard">
                <svg>
                    <use href="#icon-logo-mastercard" xlink:href="#icon-logo-mastercard"></use>
                </svg>
            </span>
        </li>
        {{/or}}
        {{#or theme_settings.show_accept_paypal settings.show_accept_paypal show_accept_paypal}}
        <li>
            <span class="footer-payment-icon" role="img" aria-label="PayPal">
                <svg>
                    <use href="#icon-logo-paypal" xlink:href="#icon-logo-paypal"></use>
                </svg>
            </span>
        </li>
        {{/or}}
        {{#or theme_settings.show_accept_visa settings.show_accept_visa show_accept_visa}}
        <li>
            <span class="footer-payment-icon" role="img" aria-label="Visa">
                <svg>
                    <use href="#icon-logo-visa" xlink:href="#icon-logo-visa"></use>
                </svg>
            </span>
        </li>
        {{/or}}
        {{#or theme_settings.show_accept_amazonpay settings.show_accept_amazonpay show_accept_amazonpay}}
        <li>
            <span class="footer-payment-icon" role="img" aria-label="Amazon Pay">
                <svg>
                    <use href="#icon-logo-amazonpay" xlink:href="#icon-logo-amazonpay"></use>
                </svg>
            </span>
        </li>
        {{/or}}
        {{#or theme_settings.show_accept_googlepay settings.show_accept_googlepay show_accept_googlepay}}
        <li>
            <span class="footer-payment-icon" role="img" aria-label="Google Pay">
                <svg>
                    <use href="#icon-logo-googlepay" xlink:href="#icon-logo-googlepay"></use>
                </svg>
            </span>
        </li>
        {{/or}}
        {{#or theme_settings.show_accept_klarna settings.show_accept_klarna show_accept_klarna}}
        <li>
            <span class="footer-payment-icon" role="img" aria-label="Klarna">
                <svg>
                    <use href="#icon-logo-klarna" xlink:href="#icon-logo-klarna"></use>
                </svg>
            </span>
        </li>
        {{/or}}
</ul>
