<h2 class="accordion-heading accordion-nav-clear-holder">
    <button type="button"
         class="accordion-navigation toggleLink{{#unless start_collapsed}} is-open{{/unless}}"
         data-collapsible="#facetedSearch-content--{{dashcase facet}}"
         aria-label="{{lang 'search.faceted.toggleSection' title=title}}"
         aria-expanded="{{#if start_collapsed}}false{{else}}true{{/if}}"
         aria-controls="facetedSearch-content--{{dashcase facet}}"
    >
        <span class="accordion-title">
            {{title}}
        </span>

        <span>
            <svg class="icon c-icon--sm accordion-indicator toggleLink-text toggleLink-text--off" aria-hidden="true" focusable="false">
                <use href="{{cdn 'assets/img/icon-sprite.svg'}}#icon-add" />
            </svg>
            <svg class="icon c-icon--sm accordion-indicator toggleLink-text toggleLink-text--on" aria-hidden="true" focusable="false">
                <use href="{{cdn 'assets/img/icon-sprite.svg'}}#icon-remove" />
            </svg>
        </span>
    </button>
    {{#if selected}}
        <a href="{{remove_url}}" class="facetedSearch-clearLink" data-faceted-search-facet>{{lang 'search.faceted.clear'}}</a>
    {{/if}}
</h2>
