<nav class="category-sidebar" aria-label="{{lang 'search.faceted.label'}}">
    {{#if category.faceted_search_enabled}}
        {{#if category.subcategories}}
            <div class="accordion accordion--navList accordion--sidebar">
                {{> components/category/sidebar-subcategories collapsed=true}}
            </div>
        {{/if}}

        <div id="facetedSearch" class="facetedSearch sidebarBlock" role="region">
            {{!-- Mobile toggle --}}
            <a href="#facetedSearch-navList" role="button" class="facetedSearch-toggle toggleLink" data-collapsible aria-expanded="false" aria-controls="facetedSearch-navList">
                <span class="facetedSearch-toggle-text">
                    {{lang 'search.faceted.filters'}}
                </span>
                <span class="facetedSearch-toggle-indicator">
                    <span class="toggleLink-text toggleLink-text--on">
                        {{lang 'search.faceted.hide-filters'}}
                        <i class="icon c-icon--sm" aria-hidden="true">
                            <svg><use href="#icon-keyboard-arrow-up"/></svg>
                        </i>
                    </span>
                    <span class="toggleLink-text toggleLink-text--off">
                        {{lang 'search.faceted.show-filters'}}
                        <i class="icon c-icon--sm" aria-hidden="true">
                            <svg><use href="#icon-keyboard-arrow-down"/></svg>
                        </i>
                    </span>
                </span>
            </a>

            <div id="facetedSearch-navList" class="facetedSearch-navList">
                {{!-- Selected Filters --}}
                {{> components/faceted-search/selected-facets category.selected}}

                <div class="accordion accordion--navList accordion--sidebar">
                    {{#if theme_settings.shop_by_price_visibility}}
                    {{> components/category/sidebar-price-filter collapsed=true}}
                    {{/if}}

                    {{!-- Render all visible facets using the dynamic component --}}
                    {{#each category.facets}}
                        {{#if visible}}
                            {{{dynamicComponent 'components/faceted-search/facets' collapsed=true}}}
                        {{/if}}
                    {{/each}}
                </div>

                <div class="blocker" hidden></div>
            </div>
        </div>
    {{else}}
        {{!-- Non-faceted: Show subcategories and price filter --}}
        {{#if category.subcategories}}
            <div class="accordion accordion--navList accordion--sidebar">
                {{> components/category/sidebar-subcategories collapsed=true}}
            </div>
        {{/if}}

        {{#if theme_settings.shop_by_price_visibility}}
            <div class="accordion accordion--navList accordion--sidebar">
                {{> components/category/sidebar-price-filter collapsed=true}}
            </div>
        {{/if}}
    {{/if}}
</nav>
