{{!-- Testimonial component partial --}}
<figure class="c-testimonial">
  <div class="c-testimonial__stars" role="img" aria-label="Rating: {{stars}} out of 5 stars">
    {{#each (range 0 stars)}}
      <svg class="c-icon c-icon--star" aria-hidden="true" focusable="false">
        <use href="{{cdn 'assets/img/icon-sprite.svg'}}#icon-star"></use>
      </svg>
    {{/each}}
  </div>
  <blockquote class="c-testimonial__body">{{body}}</blockquote>
  <figcaption class="c-testimonial__author">
    <span class="c-testimonial__name">{{author}}</span>
    {{#if role}}
      <span class="c-testimonial__role">{{role}}</span>
    {{/if}}
  </figcaption>
</figure>
