// =============================================================================
// SECURE BADGE COMPONENT
// =============================================================================
//
// Simple trusted site badge for footer
//

.secure-badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.secure-badge__svg {
    height: remCalc(48);
    width: remCalc(145);
    overflow: visible;
}
