{{#if product.similar_by_views}}
<ul class="tabs" data-tab role="tablist">
    <li class="tab is-active" role="presentation">
        <a class="tab-title" href="#tab-similar" role="tab" tabindex="0" aria-selected="true" controls="tab-similar">{{lang 'products.similar_by_views'}}</a>
    </li>
</ul>

<div class="tabs-contents">
    <div role="tabpanel" aria-hidden="false" class="tab-content has-jsContent is-active" id="tab-similar">
        {{> components/products/carousel products=product.similar_by_views columns=6 list="Customers Also Viewed"}}
    </div>
</div>
{{/if}}
